<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block layout:fragment="header">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
		crossorigin="anonymous">
	<style>
.green {
	background-color: green;
}
</style>
	<script>
		function gopage(page) {
			//location.href = "empList?page=" + page;
			frmSearch.page.value = page;
			frmSearch.submit();
			//=> 값이 여러개라면 + 쓰고 "쓰고 하기 귀찮으니가 폼만들어서 한꺼번에 폼을 넘기면 된다.
		}
		
		$(function(){
			$(".btnInfo").on("click",function(){
				//클릭한 버튼이 있는 행의 employeeId를 가져오기
				//alert($(".btnInfo").closest("tr").children().eq(1).text());
				let empid = $(this).closest("tr").data("empid");		//data형식 사용
				
				//단건조회
				$.ajax({
					url:"/emp/"+empid
					
				})
				.then(obj => {
						$("#employeeId").val(obj.employeeId);
						$("#firstName").val(obj.firstName);
						$("#lastName").val(obj.lastName);
						$("#email").val(obj.email);
						$("#hireDate").val(obj.hireDate);
						$("#jobId").val(obj.jobId);
				});
			})
		})
	</script>
</th:block>
</head>


<body>

	<div layout:fragment="content">
		[[${jobList[0]}]]
		<hr>

		<form name="frmSearch">
			<input type="hidden" name="page" value="1"> <select
				name="jobId">
				<option value="">선택
				<option th:each="job : ${jobList}" th:text="${job.jobTitle}"
					th:value="${job.jobId}" th:selected="${job.jobId}==${esvo.jobId}">
			</select> <input name="departmentId" th:value="${esvo.departmentId}">
			<button>초기화</button>
			<button>검색</button>
		</form>

		<div class="container">
			<div class="row">
				<!-- 첫번째 col -->
				<div class="col-8">

					<!-- | 이작대기가 자바스크립트의 빽틱과 같은 역할 -->
					<div>
						<a
							th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
							th:href="|javascript:gopage(${num})|"
							th:class="${paging.page}==${num} ? 'active'"> [[${num}]] </a>
					</div>


					<!-- 1. 태그안에 써주기 2.태그쓰기 싫으면 대괄호 두개 안에 적어주기-->
					총사원수: <span th:text=${#lists.size(empList)}>10000</span> <br>
					총사원수: [[${#lists.size(empList)}]]
					<table class="table">
						<thead>
							<tr>
								<th>count</th>
								<th>employee_id</th>
								<th>first_name</th>
								<th>last_name</th>
								<th>hire_date</th>
								<th>salary</th>
								<th>job_id</th>
								<th>dpt_no</th>
								<th>bonus</th>
							</tr>
						</thead>
						<tbody>
							<tr th:data-empid="${emp.employeeId}" th:each="emp : ${empList}" th:class="${empStat.even?'green':''}">
								<td th:text="${empStat.count}"></td>
								<td th:text="${emp.employeeId}"></td>
								<td th:text="${emp.firstName}"></td>
								<td th:text="${emp.lastName}"></td>
								<td th:text="${#dates.format(emp.hireDate, 'yyyy/MM/dd')}"></td>
								<td th:text="${emp.salary}"></td>
								<td th:text="${emp.jobId}"></td>
								<td th:text="${emp.departmentId}"></td>
								<td>
									<button th:if="${emp.salary} != null and ${emp.salary}>10000">보너스</button>
								</td>
								<td>
									<!-- for문 안에서는 id쓰면 중복되기 때문에 class를 주로 쓴다. -->
									<button type="button" class="btnInfo">조회</button>
								</td>


							</tr>
						</tbody>
					</table>
				</div>

				<!-- 2번째 col -->
				<div class="col-4">
					<form id="frm">
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">employeeId</label>
							<input type="text" class="form-control" id="employeeId">
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput2" class="form-label">firstName</label>
							<input type="text" class="form-control" id="firstName">
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">lastName</label>
							<input type="text" class="form-control" id="lastName">
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">email</label>
							<input type="text" class="form-control" id="email">
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">hireDate</label>
							<input type="text" class="form-control" id="hireDate">
						</div>
						<div class="mb-3">
							<label for="formGroupExampleInput" class="form-label">jobId</label>
							<input type="text" class="form-control" id="jobId">
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</body>
</html>